<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <!--define various log targets-->
  <targets>

    <!--write logs to file-->
    <target xsi:type="File" name="allfile" fileName="logs/${shortdate}-all.log"
            layout="${uppercase:${level}}|${longdate}|${basedir}|${logger}|${callsite}|${message}|${exception}" />

    <target xsi:type="File" name="ownFile-web" fileName="logs/${shortdate}-own.log"
            layout="${uppercase:${level}}|${longdate}|${logger}|${message}|${exception}" />

    <target xsi:type="File" name="errorfile" fileName="logs/${shortdate}-error.log"
            layout="${uppercase:${level}}|${longdate}|${logger}|${callsite}|${message}|${exception}" />

    <target xsi:type="Null" name="blackhole" />

  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
    
    <logger name="*" levels="Error,Fatal" writeTo="errorfile" />

  </rules>
</nlog>

<!--<target name="Info" xsi:type="File" fileName="${basedir}/log/test.${shortdate}.htm"
        layout=""<p>
  <span style="color:red; font-weight:bold;">
    [${level}]
  </span>
  <br />
  <span style="color:#666">
    ${date:format=yyyy-MM-dd HH\:mm\:ss}
  </span>
  <br />
  <span
    style="color:#0066FF; font-weight:bold;">
    [${stacktrace}]</  
  span><br /><span style="color:#0066FF">
    ${message}</  
  span>
</p>"/>-->
